.spo_image{
	background-image: url('http://www.numerama.com/content/uploads/2016/01/spotify.png');
	border-radius: 50px;
	width:200px;
	height:200px;
	margin: 20px;
	position: absolute;
	left: 0px;
	z-index: 2;
}

.spo_image:hover {
	opacity: 0.15;
}

h5{
	font-size: 20px;
	position: absolute;
	width: 200px;
	margin-top: 100px;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	z-index: 1;
}

#spotify{
	padding-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 492px;
	border-radius: 80px;
	text-align: center;
	float: left;
	background-color: rgba(29,215,95,1);
	font-family: Verdana, sans-serif;
}

#spo_min_gh{
	background-color: rgba(24,24,24,1);
	border-color: black;
	border-radius: 40px;
	width: 240px;
	height: 240px;
	left: 4px;
	position:relative;
	float: left;
}

#spo_min_dh{
	background-color: rgba(40,40,40,1);
	border-color: black;
	border-radius: 40px;
	width: 240px;
	height: 240px;
	left: 248px;
	position:relative;
}

#spo_min_gb{
	background-color: rgba(40,40,40,1);
	border-color: black;
	border-radius: 40px;
	width: 240px;
	height: 240px;
	left: 4px;
	position:relative;
	float: left;
	margin-top: 4px;
}

#spo_min_db{
	background-color: rgba(24,24,24,1);
	border-color: black;
	border-radius: 40px;
	width: 240px;
	height: 240px;
	left: 248px;
	position:relative;
	margin-top: 4px;
}

#spo_block_info{
	width: 492px;
	height: 484px;
	background-color: rgba(18,18,18,1);
	padding-bottom: 4px;
	padding-top: 4px;
	border-radius: 40px;
	text-align: center;
}

input{
	background-color: rgba(18,18,18,1);
	border-color: black;
	border-width: 2px;
	border-radius: 4px;
	border-bottom-style: solid;
	color: white;
	text-align: center;
}
