#base{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
	width: 400px;
	border-radius: 40px;
	border-bottom-color: white;
	border-top-color: gray;
	border-left-color: gray;
	border-right-color: white;
	border-style: dashed;
	padding: 10px;
	color: white;
	font: 15px comic, sans-serif;
}

.black{
	color: black;
}

#base:hover{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
	width: 400px;
	border-radius: 5px;
	border-bottom-color: blue;
	border-top-color: red;
	border-left-color: yellow;
	border-right-color: yellow;
	border-style: double;
	border-width: 5px;
	padding: 10px;
	font: 15px courier, sans-serif;
}

#base:hover .black{
	color: white;
}

#base:active{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	width: 400px;
	border-radius: 0px;
	border-color: white;
	border-style : groove;
	border-width: 8px;
	padding: 10px;
	font-family: Georgia, Serif;
	color: whitesmoke;
}

#base:active .black{
	color: white;
}