<html>
  <head>
    <title>Index</title>
    <meta charset="utf-8">
     	<link rel="stylesheet" href="CSS/bootstrap/css/bootstrap.min.css">
     		<link rel="stylesheet"	href="CSS/style.css"	type="text/css"	/>	
  </head>
  
  <body  class="app" ng-controller="AppController">
  
  <!-- header -->
  	<div class="container-fluid bg-1 text-center">
  		<h1>STALKARTIST</h1>
 		<div id="buttons">
      		<label > 
      			<div id="search">
      			<input class="form-control input-lg" id="query" placeholder='Bob Marley' type="text" ng-model="query"on-keyup-search/>
      			  </div>
      			<br>
      			<button id="search-button" onclick="search2(),getSpoToken(),request()" class="Xbutton">Search</button>
      		</label>
 		</div>
     </div>
     
     	<!-- Wikipedia -->
     <div id="wikimedia"></div>
     
     
     <!-- youtube -->
    	<div class="row" id="box"></div> 
    	
 		<div class="row">
 		
 			<!-- Spotify -->
 			<div class="col-sm-6  ">
    			<div id="spotify" >
				<h1>Spotify</h1>
	 			<form method="post" action="https://developer.spotify.com/web-api/" target="_blank">
					<input type="submit" value="Récupérer une clé d'activation (nécéssite un compte Spotify)" />
				</form>
				<form>
					<p>Entrez votre clé d'activation</p>
					<input type="text" name="Token" id="spoToken"/>
					<input type="button" value="Envoyer TOKEN" onclick="getSpoToken();"/>
				</form>
				<input type="button" value="Autre titre" onclick="getTrack2();"/>
				<input type="button" value="Autre album" onclick="getAlbum2();"/>
				<input type="button" value="Autre artiste associé" onclick="getRelated2();"/>
				<BR>
				<BR>
				<div id='spo_block_info'>
					<div id='spo_min_gh'>
						<h5 id="spo_text_art"></h5>
						<a href="" id="spo_link_art"><img class="spo_image" id="spo_image_art" alt="Artiste"></a>
					</div>
					<div id='spo_min_dh'>
						<h5 id="spo_text_alb"></h5>
						<a href="" id="spo_link_alb"><img class="spo_image" id="spo_image_alb" alt="Album"></a>
					</div>
					<div id='spo_min_gb'>
						<h5 id="spo_text_tra"></h5>
						<a href="" id="spo_link_tra"><img class="spo_image" id="spo_image_tra" alt="Track" src="https://store-images.s-microsoft.com/image/apps.52923.13571498826857201.682c7ab2-b8a7-485f-a945-469983e8ded9.9ec0cf1f-5339-44f7-9aff-8a40151a2bfd?w=180&h=180&q=60"></a>
					</div>
					<div id='spo_min_db'>
						<h5 id="spo_text_rel"></h5>
						<a href="" id="spo_link_rel"><img class="spo_image" id="spo_image_rel" alt="Artiste associé"></a>
					</div>
				</div>
			</div>
		</div>
	
	
		<!-- Deezer-->
	<div class="col-sm-6 ">
		<div id="wrapper" class="layoutWrapper">

		<div id="content">
			<div id="menu">

				<a href="#/albums" class="link_tabs" ng-class="{active: view == 'albums'||view == 'album'}">Albums</a>
				<a href="#/artists" class="link_tabs" ng-class="{active: view == 'artists'}">Artists</a>

			</div>

			<div ng-show="view == 'login'" class="loader">
				<div class="loader_content">
					<a class="login_link" ng-click="login()">Connect with Deezer</a></div>
			</div>

			<div ng-show="view == 'loading'" class="loader">
				<div class="loader_content">loading...</div>
			</div>
			<div ng-show="view == 'playlist'">
				<div class="album_cover_view">
					<img src="{{playlist.picture}}?size=big" width="100%" height="100%">
					<h3>{{playlist.title}}</h3>
				</div>

				<div class="album_track_list">
					<table class="table_tracks">
						<tr ng-repeat="track in playlist.tracks.data">
							<td><a class="link_track" ng-click="play_track($index)">{{track.title}}</a></td>
							<td style="text-align:right;"><a href="#/artist/{{track.artist.id}}">{{track.artist.name}}</a></td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'albums'">
				<div ng-repeat="album in albums" class="inline grid_list">
					<a href="#/album/{{album.id}}">
						<img class="cover" src="{{album.cover}}?size=big" width="160" height="160">
						<div class="grid_title">{{album.title}}</div>
					</a>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'album'" class="playlists">
				<div class="album_cover_view">
					<img src="{{album.cover}}?size=big" width="100%" height="100%">
					<h3>{{album.title}}</h3>
					<h4>{{album.artist.name}}</h4>
				</div>

				<div class="album_track_list">
					<table class="table_tracks">
						<tr ng-repeat="track in album.tracks.data">
							<td><a class="link_track" ng-click="play_track($index)">{{track.title}}</a></td>
							<td style="text-align:right;"><a href="#/artist/{{track.artist.id}}">{{track.artist.name}}</a></td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'artists'">
				<div ng-repeat="artist in artists" class="inline grid_list">
					<a href="#/artist/{{artist.id}}">
						<img class="cover" src="{{artist.picture}}?size=big" width="160" height="160">
						<div class="grid_title">{{artist.name}}</div>
					</a>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'artist'">
				<h3>{{artist.name}}</h3>
				<div ng-repeat="album in albums" class="inline grid_list">
					<a href="#/album/{{album.id}}">
						<img class="cover" src="{{album.cover}}?size=big" width="160" height="160">
						<div class="grid_title">{{album.title}}</div>
					</a>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'favorites'">
				<div>
					<table class="table_tracks">
						<tr ng-repeat="track in favorites">
							<td><a class="link_track" ng-click="play_track($index)">{{track.title}}</a></td>
							<td><a href="#/album/{{track.album.id}}">{{track.album.title}}</a></td>
							<td style="text-align:right;"><a href="#/artist/{{track.artist.id}}">{{track.artist.name}}</a></td>
						</tr>
					</table>
				</div>
				<div class="clear"></div>
			</div>

			<div ng-show="view == 'search'">
				<div>
					<div ng-show="search_tracks.length == 0 &amp;&amp; search_artists.length == 0 &amp;&amp; search_albums.length == 0" class="loader">
						<div class="loader_content">No result :(</div>
					</div>

					<table class="table_tracks">
						<tr ng-repeat="track in search_tracks">
							<td><a class="link_track" ng-click="play_track_id(track.id)">{{track.title}}</a></td>
							<td><a href="#/album/{{track.album.id}}">{{track.album.title}}</a></td>
							<td style="text-align:right;"><a href="#/artist/{{track.artist.id}}">{{track.artist.name}}</a></td>
						</tr>
					</table>

					<div ng-repeat="artist in search_artists" class="grid_list_small">
						<a href="#/artist/{{artist.id}}">
							<img src="{{artist.picture}}" width="120" height="120">
							<div class="grid_title">{{artist.name}}</div>
						</a>
					</div>

					<div ng-repeat="album in search_albums" class="grid_list_small">
						<a href="#/album/{{album.id}}">
							<img src="{{album.cover}}" width="120" height="120">
							<div class="grid_title">{{album.title}}</div>
						</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</div>

	<div id="dz-root"></div>
	</div>
</div>
	
	
      
      

    <script src="YoutubeSearchAPI.js"></script>
    <script src="Spotify.js"></script>
     <script src="wiki.js"></script>        
     
    <!-- Deezer-->
       <script src="http://cdn-files.deezer.com/js/min/dz.js"></script>
     <script src="deezer/controllers.js"></script>
     <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
		<link rel="shortcut icon" href="http://www.deezer.com/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="http://www.deezer.com/favicon.ico" type="image/x-icon" />
		<link href="deezer/img/sprite.css" rel="stylesheet">
  </body>
</html>



