body {

background-color:#191970;
}
#box1
{
    width:600px;
    height:600px;
    box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    margin:5% auto 0 auto;
    background:url(abd.jpg);
    background-size:cover;
    border-radius:20px;
    overflow:hidden;
}

#box2
{
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:50px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
}

#box1:hover #box2
{
    opacity:1;
}

#box3       {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255,255,255,.85);
    font-size: 12px;
}
